* {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    vertical-align: center;
}

form {
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 3px solid #0029a4;
    width: 650px;
    height: 500px;
    display: flex;
}

#input {
    margin: 10px 0px 10px 0px;
    width: 200%;
    height: 50px;
}

#label {
    color: white;
    text-align: center;
    display: inline-block;
    border: 3px solid #0029a4;
    width: 100px;
    height: 40px;
    font-size: 18px;
    padding-top: 8px;
    background-color: rgb(84, 199, 7);
}

#gender {
    margin: auto;
    font-size: 18px;
}

input,
select {
    margin-left: 20px;
    width: 20px;
    height: 20px;
    font-size: 13px;
    border: 3px solid #0029a4;
}

input[type='text'] {
    width: 350px;
    height: 35px;
}

select {
    width: 150px;
    height: 35px;
}

button {
    color: white;
    margin-top: 25px;
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(84, 199, 7);
}

span {
    color: red;
}

#birthday {
    width: 150px;
    height: 35px;
}

#address {
    width: 350px;
}

#errors {
    margin-left: 125px;
}